.body1{
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-travel-background_52683-85109.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background: cover;
}