.from-container{
    margin:4rem 6rem;
    color:black
}
.body{
    background-image: url("https://img.freepik.com/free-photo/flat-lay-clean-office-desk_23-2148219267.jpg");
}
.from-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width:50%;
    margin:auto;
}
.from-container input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid black;

}
.from-container textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid black;
}
.from-container button{
    display: inline;
}
@media screen and (max-width:850px){
    .from-container{
        margin: 4rem 2rem;
    }
    .from-container form{
        padding-top: 2rem;
        width: 90%;
    }

}